USE [master]
GO
/****** Object:  Database [Dosa_Store]    Script Date: 3/2/2023 9:51:44 PM ******/
CREATE DATABASE [Dosa_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dosa_Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SON\MSSQL\DATA\Dosa_Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dosa_Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SON\MSSQL\DATA\Dosa_Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dosa_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dosa_Store]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/2/2023 9:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK__Category__3213E83F688A602B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/2/2023 9:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[Total] [float] NULL,
	[Order_date] [date] NULL,
	[Note] [nvarchar](200) NULL,
	[name] [nvarchar](200) NULL,
	[phone] [varchar](10) NULL,
	[address] [nvarchar](200) NULL,
 CONSTRAINT [PK__Order__3213E83F6DE72132] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 3/2/2023 9:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[name] [nvarchar](200) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/2/2023 9:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[description] [varchar](255) NULL,
	[img_url] [varchar](255) NULL,
	[created_date] [date] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK__Product__3213E83F27E22E1F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_tbl]    Script Date: 3/2/2023 9:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[display_name] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[email] [varchar](255) NULL,
	[phone] [nvarchar](10) NULL,
	[role] [bit] NULL,
	[user_img] [varchar](255) NULL,
 CONSTRAINT [PK__Userr__3213E83FD1E6D4A0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'T-shirt')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Pant')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Shoes')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [user_id], [Total], [Order_date], [Note], [name], [phone], [address]) VALUES (1, 1, 520, CAST(N'2022-07-09' AS Date), N'', N'son', N'0123456789', N'hcm')
INSERT [dbo].[Order] ([id], [user_id], [Total], [Order_date], [Note], [name], [phone], [address]) VALUES (2, 1, 196, CAST(N'2022-07-09' AS Date), N'hcmchcm', N'son', N'0123456789', N'hcm')
INSERT [dbo].[Order] ([id], [user_id], [Total], [Order_date], [Note], [name], [phone], [address]) VALUES (3, 1, 502, CAST(N'2022-07-10' AS Date), N'Ship whenever you want', N'Ronaldo', N'0123456789', N'Portugal')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([id], [order_id], [name], [price], [quantity], [product_id]) VALUES (9, 1, N'Color Camo Milo', 98, 1, 2)
INSERT [dbo].[Order_Detail] ([id], [order_id], [name], [price], [quantity], [product_id]) VALUES (10, 1, N'Color Block Bucket Hat', 113, 1, 6)
INSERT [dbo].[Order_Detail] ([id], [order_id], [name], [price], [quantity], [product_id]) VALUES (11, 1, N'BAPE STA MI #2', 309, 1, 4)
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [price], [quantity], [description], [img_url], [created_date], [category_id]) VALUES (2, N'Color Camo Milo ghyfyufui', 98, 21, N'Black tee with Milo logo', N'https://ithk-pro-itmall-item.oss-cn-hongkong.aliyuncs.com/2/product/0ZXTEM10004MIBKM/0ZXTEM10004MIBKM-pdp-1.jpg?x-oss-process=image/resize,m_pad,h_750,w_600/auto-orient,1/quality,Q_80', CAST(N'2022-05-28' AS Date), 1)
INSERT [dbo].[Product] ([id], [name], [price], [quantity], [description], [img_url], [created_date], [category_id]) VALUES (3, N'Shark Denim Jeans', 404, 8, N'Shark Washed Wide Fit Denim jeans', N'https://ithk-pro-itmall-item.oss-cn-hongkong.aliyuncs.com/2/product/0ZXJNM150002HNYX/0ZXJNM150002HNYX-pdp-1.jpg?x-oss-process=image/resize,m_pad,h_750,w_600/auto-orient,1/quality,Q_80', CAST(N'2022-03-01' AS Date), 2)
INSERT [dbo].[Product] ([id], [name], [price], [quantity], [description], [img_url], [created_date], [category_id]) VALUES (4, N'BAPE STA MI #2', 309, 25, N'Black High Sneaker', N'https://ithk-pro-itmall-item.oss-cn-hongkong.aliyuncs.com/2/product/0ZXSHM191010IBKA/0ZXSHM191010IBKA-pdp-1.jpg?x-oss-process=image/resize,m_pad,h_750,w_600/auto-orient,1/quality,Q_80', CAST(N'2021-12-05' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User_tbl] ON 

INSERT [dbo].[User_tbl] ([id], [username], [password], [display_name], [address], [email], [phone], [role], [user_img]) VALUES (1, N'son', N'son', N'hfthfoi', N'hcm', N'son@gmail.com', N'0111111111', 0, NULL)
INSERT [dbo].[User_tbl] ([id], [username], [password], [display_name], [address], [email], [phone], [role], [user_img]) VALUES (2, N'quynh', N'quynh', N'quynh', N'dak mil', N'quynh@gmail.com', N'0123456789', 0, NULL)
INSERT [dbo].[User_tbl] ([id], [username], [password], [display_name], [address], [email], [phone], [role], [user_img]) VALUES (3, N'admin', N'admin', N'admin', N'sai gon', N'admin@admin.com', N'0999999999', 1, NULL)
SET IDENTITY_INSERT [dbo].[User_tbl] OFF
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Order_date]  DEFAULT (getdate()) FOR [Order_date]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__quantit__5EBF139D]  DEFAULT ('0') FOR [quantity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__user_id__1BC821DD] FOREIGN KEY([user_id])
REFERENCES [dbo].[User_tbl] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__user_id__1BC821DD]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__order__1EA48E88] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__order__1EA48E88]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__categor__5FB337D6] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__categor__5FB337D6]
GO
USE [master]
GO
